body {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    #connect {
      display: flex;
      gap: 10px;
      align-items: center;
      p {
        text-align: end;
      }
    }
  }
  main {
    display: flex;
  }

  #left-side {
    width: 250px;
    .slide {
      color: rgb(255, 255, 255);
      padding: 5px;
    }
    ul {
    }
    li {
      list-style: none;
    }

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      cursor: pointer;

      color: rgb(255, 249, 249);
      text-decoration: none;
    }

    .menu-item img {
      transition: transform 0.3s;
    }

    .submenu {
      list-style: none;
      li a {
        text-decoration: none;
        color: white;
      }
      margin: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
    }

    .dropdown:hover .submenu,
    .dropdown:focus-within .submenu {
      max-height: 200px;
    }

    .dropdown:hover .menu-item .fleche,
    .dropdown:focus-within .menu-item .fleche {
      transform: rotate(180deg);
    }
    .dropdown:hover .menu-item,
    .dropdown:focus-within .menu-item {
      color: black;
    }

    .dropdown:hover .menu-item .fleche,
    .dropdown:focus-within .menu-item .fleche {
      transform: rotate(180deg);
      filter: brightness(0);
    }
  }

  #right-side {
    #nav {
      #title-nav {
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      ul {
        display: flex;
        justify-content: space-evenly;
        gap: 2em;

        li {
          list-style: none;

          img {
            color: white;
          }
        }
        .link-green {
          background-color: #3ddc97;
          color: white;
          border-radius: 40px;
          padding: 10px 20px;
          text-align: center;
          list-style: none;
          a {
            text-decoration: none;
            color: white;
          }
        }
        .link-white {
          border: solid #3ddc97;
          color: #3ddc97;
          border-radius: 40px;
          padding: 10px 20px;
          text-align: center;
          list-style: none;
          a {
            text-decoration: none;
            color: #3ddc97;
          }
        }
      }
      #title-nav {
        padding: 4em;
        background-color: #e2f8ef;
      }
      #search {
        padding: 4em;
        display: flex;
        justify-content: center;
        gap: 5em;
        h1 {
          color: #3ddc97;
        }
        .btn {
          border: solid gainsboro;
          border-radius: 40px;
        }
      }
    }
    #cards {
      padding: 4em;
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        img {
          margin-bottom: -1em;
        }
        li {
          list-style: none;
          text-align: center;
          h3 {
            color: #3ddc97;
          }
          .white-contain {
            padding: 1em;
            border-radius: 5%;
            background-color: #e2f8ef;
            div {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              gap: 1em;
            }
          }
          .green-contain {
            padding: 1em;
            border-radius: 5%;
            border: solid #3ddc97;
            div {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              gap: 1em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    header {
      #connect {
        p,
        #fleche {
          display: none;
        }
      }
    }
    main {
      display: flex;
      flex-direction: column-reverse;

      #right-side {
        #nav img {
          display: none;
        }
        #nav ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
body {
  background-color: #f8f9fa;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sidebar {
  background-color: #3ddc97;
  min-height: 100vh;
  color: white;
  padding: 20px;
}
